@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #305b5f;
    box-sizing: content-box;
}

.pokedex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-items: center;
    justify-content: center;
}

.pokedex-top{
    align-self: center;
    height: 80%;
    width: 70%;
    background-color: #f90701 ;
    display: flex;
    flex-direction: row;
    border: 10px solid #c00300;
    border-radius: 2rem;
}

.btns-pokedex{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    height: 70%;
    width: 30%;
}

.btn-rst{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mini-btn{
    height: 100%;
    width: 30%;
    background-color: darkslategrey;
    border-left:8px solid #253a3b;
    border-bottom:8px solid #253a3b;
    border-radius: 50%;
    align-self: flex-end;
}

.mini-display{
    margin-top: 10%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.display-left{
    width: 50%;
    height: 40%;
    background-color: #4deb67;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    border-left: 2px solid #279e3b;
    border-bottom: 2px solid #279e3b;
    border-radius: 0.5rem;
}

.btns-display{
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.btn-1, .btn-2{
    height: 20%;
    width: 50%;
    border-radius: 2rem;
}

.btn-1{
    background-color: #34829e;
    border: 2px solid #253a3b;
}

.btn-2{
    background-color: #f90701;
    border: 2px solid #253a3b;
}

.d-pad{
    width: 90%;
    height: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.arrow-up-dpad, .arrow-down-dpad{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrow-lr-dpad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #305b5f;
}

.arrow-up-dpad, .arrow-lr-dpad, .arrow-down-dpad{
    width: 100%;
    height: 33%;
}

.arrow-up{
    border-top: 5px solid #253a3b;
    border-left: 5px solid #253a3b;
}

.arrow-left{
    border-left: 5px solid #253a3b;
    border-bottom: 5px solid #253a3b;
}

.arrow-rigth{
    border-bottom: 5px solid #253a3b;
}

.arrow-down{
    border-bottom: 5px solid #253a3b;
    border-left: 5px solid #253a3b;
}

.arrow-up, .arrow-down, .arrow-left, .arrow-rigth{
    width: 33%;
    height: 100%;
    background-color: #305b5f;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.arrow-up>img, .arrow-down>img, .arrow-left>img, .arrow-rigth>img{
    width: 10px;
    height: 10px;
} 

.display{
    margin-top: 30px;
    height: 70%;
    width: 50%;
    background-color: #dedede;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-display{
    height: 80%;
    width:85%;
    background-color: #4deb67;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-display>img{
    height: 70%;
    width: 70%;
}

.leds{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 30px;
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.led-blue{
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: #009dd4;
    border: 15px solid white;
    display: flex;
    justify-content: flex-end;
}

.led-red, .led-yellow, .led-green{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    margin-right: 45px;
    border: 2px solid black;

}

.led-red{
    display: flex;
    justify-content: flex-end;
    background-color: #c00300;
}

.led-yellow{
    display: flex;
    justify-content: flex-end;
    background-color: #ffee00;
}

.led-green{
    display: flex;
    justify-content: flex-end;
    background-color: #4deb67 ;
}

.circle-white-1{
    display: none;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

}

.circle-white-2, .circle-white-3, .circle-white-4{
    display: none;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

}

.pokedex-bottom{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.hinge{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height: 10%;
    width: 90%;
    margin-bottom:2px;
}

.medium-circle-1{
    height: 100%;
    width: 3%;
    border: 1px solid black;
    background-color: #f90701;
    border-radius: 50% 0 0 50%;
}

.medium-circle-2{
    height: 100%;
    width: 3%;
    border: 1px solid black;
    border-radius: 0 50% 50% 0;
    background-color: #f90701;
}

.pokedex-medium{
    height: 100%;
    width: 70%;
    border: 1px solid black ;
    background-color: #f90701;
}

.pokedex-bottom-b{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    border: 10px solid #c00300;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #253a3b;
}

.stats-display{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stats-container{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
}

.primary-stats-display{
    border-radius: 0.5rem;
    width: 90%;
    height: 50%;
    background-color: #305b5f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    color: #4deb67;
}

.primary-stats-display>div>p{
    font-size: xx-small;
}

.primary-stats{
    height: 70%;
    width: 100%;
    display: flex ;
    flex-direction: row;
    color: #4deb67;
    align-items: center;
}

.primary-stats>div>p{
    font-size: xx-small;
    margin:0;
    text-align: center;
}

.primary-stats>div{
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 16%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
   

.stats-display-2{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}

.stats-display-2>p{
    font-size: small;
    margin: 0;
    color: #4deb67;
}

.display-atk{
    border-radius: 0.5rem;
    width: 25%;
    height: 40%;
    background-color: #305b5f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-weight{
    border-radius: 0.5rem;
    width: 25%;
    height: 40%;
    background-color: #305b5f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-atk>p, .display-weight>p{
    font-size: small;
    color: #4deb67;
}

.secondary-stats-display{
    margin-left: 2%;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.display-blue{
    justify-self: flex-start;
    border-radius: 0.5rem;
    overflow-block: inherit;
    overflow-y: scroll;
    overflow-wrap: break-word;
    width: 90%;
    height: 90px;
    max-height: 50%;
    background-color: #305b5f;
    color: #4deb67;
}

.display-blue::-webkit-scrollbar-track{
    background: transparent;
}

.display-blue::-webkit-scrollbar-track-piece{
    background: transparent;
    width: 5px;
}

.display-blue::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}

.display-blue::-webkit-scrollbar-thumb{
    background: #4deb67;
    border-radius: 40%;
    width: 5px;
}


.display-blue>p{
    padding: 10px;
    font-size: small;
    margin: 0;
}

.btns-sts{
    justify-self: flex-start;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.led-rl{
    height: 30px;
    width: 30px;
    border: 3px solid #000;
    border-radius: 50%;
    background-color: #c4b924;
}

.container-search{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
    background-color: #253a3b;
    border-radius: 0.5rem;
    color: #4deb67;
    width: 90%;
    height: 20%;
}

.container-search>p{
    margin: 0;
    display: inline;
    font-size: small;
}

.btn-rl{
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pokesearch{
    text-align: center;
    margin-left: 3%;
    border: 1px solid #305b5f;
    border-radius: 2rem;
    display: inline;
    height: 70%;
    width: 20%;
    background-color: #305b5f;
    color: #4deb67;
}

#pokesearch:focus{
    outline: none;
    border: 4px solid #5b8e9134;
       
}

#pokesearch::placeholder{
    color: rgba(79, 255, 88, 0.5);
}

#pokesearch::-webkit-search-cancel-button{
    display: none;
}

#btn-lc,#btn-rc{
    color: #4deb67;
    background-color: #305b5f;
    border: none;
    border-radius: 0.5rem;
    width: 70px;
    height: 35px;
}

#btn-lc:hover,#btn-rc:hover{
    color: #253a3b;
    background-color: #4deb67;
}

@media  (min-width: 850px) {
    .primary-display>img{
        height: 60%;
        width: 60%;
    }
}

@media  (min-width: 890px) {
    .primary-display>img{
        height: 60%;
        width: 50%
    }

    .d-pad{
        width: 60%;
        height: 60%;
    }
}

@media  (min-width: 1024px) {
    .primary-display>img{
        width: 50%;
    }
    .pokedex-top{
        height: 90%;
        width: 60%;
        
    }
    .hinge{
        width: 80%;
    }

    .pokedex-bottom-b{
        width: 60%;
    }
}

@media  (max-width: 420px) {
    .primary-display>img{
        width: 20%;
        height: 40%;
    }
    .primary-stats>div>p{
        font-size: x-small;
    }
}


@media  (max-width: 700px) {
    .pokedex-top{
        height: 100%;
        width: 90%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .primary-display>img{
        width: min-content;
    }

    .display{
        margin-top: 10px;
        width: 70%;
    }

    .btns-pokedex{
        display: none;
    }

    .hinge{
        display: none;
    }

    .stats-display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leds{
        display: none;
    }

    .pokedex-bottom-b{
        height: 100%;
        width: 90%;
    }

    .stats-container{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .primary-stats-display{
        width: 90%;
    }

    .secondary-stats-display{
        display: flex;
        margin: 0;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .pokeType{
        margin: 0;
    }

    
}

@media  (min-height: 1100px) {

    .pokedex-top{
        height: 400px;
        width: 700px;
    }

    .hinge{
        height: 30px;
        width: 700px;
    }

    .pokedex-bottom-b{
        height: 400px;
        width: 700px;
    }
}